{% assign constants = site.data.site-constants %}
<ul class="not-prose">
  {%- assign events = include.events | reverse -%}
  {%- for event in events -%}
  <li class="mb-5">
    {%- assign date_format = constants.date_format | default: "%b %-d, %Y" -%}
    <span class="text-sm">{{ event.date | date: date_format }}</span>
    <div class="text-lg">
      <a class="block font-medium" href="{{ event.link | uri_escape }}" target="_blank">
        {{ event.title | escape }}
      </a>
    </div>
    <p class="text-base">
      <i>{{ event.content }}</i>
    </p>
  </li>
  {%- endfor -%}
</ul>
