{% assign constants = site.data.site-constants %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--{\%- seo -\%}-->
  <link rel="icon" href="{{ constants.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ 'main.css' | relative_url }}">
  {%- include external/mathjax.html -%}

  {% assign react_source_files = include.react_source_files %}
  {% unless layout.react_source_files == empty %}
    {% for src in layout.react_source_files %}
      {% assign react_source_files = react_source_files | push: src %}
    {% endfor %}
  {% endunless %}
  {% unless page.react_source_files == empty %}
    {% for src in page.react_source_files %}
      {% assign react_source_files = react_source_files | push: src %}
    {% endfor %}
  {% endunless %}
  {%- unless react_source_files == empty %}
    {%- include react/sources.html sources=react_source_files -%}
  {%- endunless -%}
</head>
