<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--{\%- seo -\%}-->
  <link rel="icon" href="{{ site.data.config.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ 'main.css' | relative_url }}">
  {%- include external/mathjax.html -%}
  {%- unless page.react_source_files == empty -%}
    {%- assign sources = page.react_source_files | uniq -%}
    {%- for src in sources -%}
      <script type="text/javascript" src="{{ src | relative_url }}" charset="utf-8"></script>
    {%- endfor -%}
  {%- endunless -%}
</head>
