<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="flex flex-col min-h-screen">

    <script src="/navigation.js"></script>
    <div id="navigation-header"></div>
    <script>
        ReactDOM.render(<NavigationHeader />, document.getElementById('navigation-header'));
    </script>

    <main class="block flex-[1_0]" aria-label="Content">
        {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

</html>
